<div class="container">
  <div class="ant-row">
    <div class="ant-col-6">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input #artist type="text" nz-input placeholder="Search by artist" (keyup)="search(artist.value)"/>
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
  </div>
</div>

<div>
  <div nz-row [nzGutter]="8">
    <div *ngFor="let artist of artists" class="card-track" nz-col [nzSpan]="8">
      <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
        <nz-card-meta nzTitle="{{artist.name}}" [nzDescription]="authors"></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img alt="example" [src]="artist.images | noImage"/>
      </ng-template>
    </div>
  </div>
</div>

<div class="spinner" *ngIf="loadingItem">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>




