<div nz-row>
  <div>
    <div *ngFor="let item of items" (click)="artistDetail(item)" class="card-track" style="padding: 2em" nz-col [nzSpan]="6" >
      <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate" [nzBodyStyle]="{'height': '150px'}">
        <nz-card-meta nzTitle="{{item.name}}" [nzDescription]="authors"></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img alt="example" [src]="item.images | noImage"/>
      </ng-template>
      <ng-template #authors>
        <div *ngFor="let artist of item.artists">
          <nz-badge nzColor="gold" nzText="{{artist.name}}"></nz-badge>
        </div>
      </ng-template>
    </div>
  </div>
</div>
